/*
 * Author: Jordan Stone
 * Date: 7/6/17
 *
 * Name: style.css
 *
 */
body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #D3D3D3;
  padding: 30px; 
  }

h1, h2 {
	position: relative;
	font-weight: bold;
	margin: 15px 0 15px;	
}

h1 {
  font-size: 50px;
  color: #2F0000;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #200000; 
}

code {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 2px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

